# Import packages

In [1]:
# isort:imports-stdlib

# isort:import-localfolder


# isort:imports-thirdparty
import pandas as pd

# isort:imports-firstparty
from data_loader.customer.v1 import DataLoader

# Notebook configuration

In [2]:
%load_ext autoreload
%autoreload 2
pd.set_option("display.float_format", lambda x: "%.3f" % x)

# Load data

In [3]:
data_loader = DataLoader()
data = data_loader.load_data()

# EDA

In [4]:
data.head().T

,0,1,2,3,4
row_id,31.000,53.000,65.000,85.000,133.000
user_id,522576412.000,551695186.000,561472000.000,585643355.000,520792937.000
length_mean,10133.679,5.359,4.886,4175.083,3.326
start_year_mean,2019.325,2019.362,2019.000,2019.897,2019.320
start_yearday_mean,241.650,222.052,297.543,106.000,212.866
...,...,...,...,...,...
target_revenue,3403.830,0.000,0.000,937.860,0.000
target_customer_value,171.760,387.103,347.098,279.270,91.360
time_step,0.000,0.000,0.000,0.000,0.000
target_customer_value_lag1,90.148,445.168,399.163,321.608,105.065
target_actual_profit,-13.280,3.592,3.216,-13.186,0.732

In [5]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
row_id,112610.000,56305.500,32507.851,1.000,28153.250,56305.500,84457.750,112610.000
user_id,112610.000,547239643.441,28792662.408,420986446.000,518414649.000,546071025.000,568058615.000,633857738.000
length_mean,112610.000,1047.309,3963.163,0.000,2.507,4.099,8.144,79235.611
start_year_mean,112610.000,2019.260,0.328,2019.000,2019.000,2019.083,2019.457,2020.000
start_yearday_mean,112610.000,243.120,89.289,1.000,193.031,281.658,308.365,365.000
...,...,...,...,...,...,...,...,...
target_revenue,112610.000,2881.027,7639.039,0.000,0.000,688.015,2887.945,527776.780
target_customer_value,112610.000,429.597,747.131,-290.190,124.530,245.675,482.027,40582.335
time_step,112610.000,2.375,1.814,0.000,1.000,2.000,4.000,6.000
target_customer_value_lag1,112610.000,360.471,729.499,-290.190,43.966,183.334,418.039,40582.335
target_actual_profit,112610.000,-7.813,8.471,-13.588,-13.235,-13.146,0.888,189.966

In [6]:
[x for x in data.columns if "churn" in x]

[]

In [7]:
[x for x in data.columns if "target" in x]

['target_event',
 'target_revenue',
 'target_customer_value',
 'target_customer_value_lag1',
 'target_actual_profit']

In [8]:
[x for x in data.columns if "purchase_count" in x]

['purchase_count_mean',
 'purchase_count_sum',
 'purchase_count_min',
 'purchase_count_max',
 'purchase_count_stddev',
 'purchase_count_cv',
 'purchase_count_month_lag0',
 'purchase_count_month_lag1',
 'purchase_count_month_lag2',
 'purchase_count_month_lag3',
 'purchase_count_month_ma3']

# Define churn

In [9]:
# 최근 3개월 동안 구매 기록이 없는 고객을 이탈한 것으로 정의
data["churn"] = (
    data[
        [
            "purchase_count_month_lag0",
            "purchase_count_month_lag1",
            "purchase_count_month_lag2",
            "purchase_count_month_lag3",
        ]
    ].sum(axis=1)
    == 0
)

data["churn"] = data["churn"].astype(int)  # True/False를 1/0으로 변환

data["churn"].value_counts()

churn
0    90043
1    22567
Name: count, dtype: int64